<!DOCTYPE html>
<html>

<head>
     <meta charset="utf-8" />
     <title>Reçu</title>
     <style>
          body {
               margin: 0;
               font-family: Arial;
               font-size: 13px;
          }

          @page {
               size: 11in 8.5in;
               margin: 5mm;
          }

          .receipts-container {
               display: flex;
               justify-content: space-between;
          }

          .receipt {
               width: 32%;
               border-right: 1px dashed #ccc;
               padding: 5px;
               box-sizing: border-box;
          }

          .receipt:last-child {
               border-right: none;
          }

          table {
               width: 100%;
               border-collapse: collapse;
               margin-top: 5px;
          }

          th,
          td {
               border: 1px solid #000;
               padding: 4px 6px;
               text-align: left;
          }

          th {
               background: #eee;
          }

          .footer {
               text-align: center;
               margin-top: 5px;
               font-size: 12px;
          }

          .receipt {
               position: relative;
          }


          .school_logo {
               position: absolute;
               top: 40px;
               left: 7px;
               width: 40px;
               height: 40px;
          }
     </style>
</head>

<body>
     <div class="receipts-container">
          {% for i in range(3) %}
          <div class="receipt">
               {% if logo_image_path %}
               <img src="{{ logo_image_path }}" class="school_logo">
               {% endif %}
               {% if info %}
               <h2 style="text-align:center; font-size:17px; margin:0px; padding:0px">{{ info.nom }}</h2>
               <p style="text-align:center; font-size:15px; margin:0px; padding:0px">{{ info.adresse }}</p>
               <p style="text-align:center; font-size:15px; margin:0px; padding:0px">{{ info.email }}</p>
               <p style="text-align:center; font-size:15px; margin:0px; padding:0px">{{ info.ligne1 }} / {{ info.ligne2
                    }}</p>
               {% endif %}
               <p style="text-align:center; font-weight:bold; margin:5px 0;">
                    {{ ['ORIGINAL','COPIE ÉTABLISSEMENT','COPIE PARENT'][i] }}
               </p>

               <div class="header">
                    <p style="margin: 3px;">Date <span class="ms-2 font-bold">{{ date }}</span></p>
                    <p style="margin: 3px;">Identifiant: <span class="font-bold">{{ etudiant.identifiant }}</span></p>
                    <p style="margin: 3px;">Nom : <span class="ms-2 font-bold">{{ etudiant.nom }} {{ etudiant.prenom
                              }}</span></p>
                    <p style="margin: 3px;">Classe : <span class="ms-2 font-bold">{{ etudiant.classe}}</span></p>
                    <p style="margin: 3px;">Année A. : <span class="ms-2 font-bold">{{ etudiant.annee_academique
                              }}</span></p>
                    {% if etudiant.aide_financiere != 'Aucune' %}
                    <p style="margin: 3px;">Status de bourse : <span class="ms-2 font-bold">{{ etudiant.aide_financiere
                              }}</span></p>
                    {%endif%}
                    <p style="margin: 3px;">Employer : <span class="ms-2 font-bold">{{ payment.employer }}</span></p>
               </div>

               <div
                    style="display:flex;position:relative;padding-top:4px;align-items: center;margin-top: 15px;margin-bottom: 8px;">
                    <p style="display:inline-flex; margin-right:auto; margin:0px;">Montant versé</p>
                    <div style="position:absolute;top:0;right:0; margin:0px;">
                         <span>{{ payment.depot }}</span> {{ payment.devise }}
                    </div>
               </div>
               {% set nss = namespace(found=False) %}

               {% set status_paiement = payment.status_paiement or [] %}
               {% set ns_avc = namespace(avance_exp='') %}

               {% for item in status_paiement %}
               {% if item.startswith('Avns:') %}
               {% set ns_avc.avance_exp = item.replace('Avns: ', '') %}
               {% endif %}
               {% endfor %}

               <div>
                    {% for k in payment.keys() %}
                    {% if k.startswith("Versement_") %}
                    {% set nss.found = True %}
                    {% endif %}
                    {% endfor %}

                    {% set index_mois = mois | length %}

                    {% if payment.status == 'retourné' %}

                    {% set status_paiement = payment.status_paiement %}
                    {% set avances = status_paiement.get("last_status",[]) %}
                    {% set last_status_table = [] %}

                    {% for element in avances %}
                    {% set _ = last_status_table.append(element) %}
                    {% endfor %}

                    <p>Ce dépôt de {{ payment.depot }} {{ payment.devise }} a été effectué le {{
                         payment.date_created.replace(' ', ' à ') }} correspond au ({{last_status_table|join(', ')}}) a
                         été retourné le
                         {{ payment.date_retour.replace('--', 'à') }}
                    </p>


                    {% elif payment and not nss.found and ns_avc.avance_exp %}
                    <p class="py-2">
                         Vous avez une avance de {{ payment.depot_et_avance }} {{ payment.devise }} sur le {{
                         ns_avc.avance_exp if ns_avc.avance_exp else '—' }}
                    </p>
                    {% else %}

                    {% endif %}
               </div>


               <div>



                    {# Logique pour le dernier élément et paiements retournés #}
                    {% set last_key = (payment.keys() | list) | last %}

                    {% if payment and last_key not in mois %}
                    {% if payment.status == 'retourné' %}
                    {% set status_paiement = payment.status_paiement or {} %}
                    {% set avances = status_paiement.get('last_status', []) %}

                    {% set avances_text = avances | map('replace', 'Acqt: ', '') | map('replace', 'Avns: ', '') |
                    join(', ') if avances
                    else '—' %}

                    <!-- <p>Ce dépôt de {{ payment.depot }} {{ payment.devise }} pour ({{ avances_text }}) a été retourné le
               {{ payment.date_retour | replace('--', ' à ') }}</p> -->
                    {% else %}

                    {% set numero_versement = (mois | length) + 1 %}
                    <!-- <p class="py-2">Vous avez une avance de {{ payment.depot_et_avance }}
               {{ payment.devise }} sur le {{ numero_versement }}
               {{ "eme" if numero_versement > 1 else "er" }} Versement --- {{avances_text}}  {{avances}}</p> -->
                    {% endif %}
                    {% endif %}

                    {% if payment.status != 'retourné' %}
                    {% set ns = namespace(last_vers='') %}
                    {% set keys_list = mois.keys() if mois is mapping else mois %}

                    {% for key in keys_list %}
                    {% if key in payment %}
                    <p class="body" style="margin:0px;padding:0px;">{{ key | format_versement(loop.index) }}</p>

                    <div class="body"
                         style="display: flex; margin:0px; padding:0px; justify-content: space-between; align-items: center;">
                         <p class="body" style="display:inline-flex; margin:0px; padding:0px;">Montant à payer</p>
                         <p class="body" style="display:inline-flex; float:right; margin:0px; padding:0px;">
                              <span class="font-bold me-1">{{ payment[key] }}</span> {{ payment.devise }}
                         </p>
                    </div>

                    <p style="border-bottom:1px solid #777; margin:2px"></p>

                    <div class="body"
                         style="display: flex; margin:0px; padding:0px; justify-content: space-between; align-items: center;">
                         <p class="ps-2" style="display:inline-flex; margin:0px; padding:0px;"></p>
                         <p class="pe-2"
                              style="display:inline-flex; float:right; margin:0px; padding:0px; color:#40ca22;">Acquitté
                         </p>
                    </div>

                    {% set ns.last_vers = key | format_versement(loop.index + 1) if '_' in key else key %}
                    {% endif %}
                    {% endfor %}

                    {% endif %}
               </div>
               {# Bloc Avance sur prochain versement #}
               {% if payment.status != 'retourné' and (mois | length) > 0
               and (payment.total_verse | float) < (payment.total_annuel | float) and last_key in mois %} <p
                    class="text-slate-500 text-[15px] mt-1">
                    Une avance de {{ payment.depot_et_avance }} {{ payment.devise }} sur le {{ ns_avc.avance_exp if
                    ns_avc.avance_exp else '—' }}
                    </p>
                    {% endif %}

                    <div>
                         <div
                              style="display:flex ;margin:0px;padding:0px; justify-content: space-between;align-items: center;">
                              <p style="display: inline-flex; margin-right:auto; margin:0px">Paiement total</p>
                              <p style="display: inline-flex; margin:0px;float:right">
                                   <span class="font-bold">
                                        {% if payment.status == 'retourné' %}
                                        {{ (payment.total_verse | float) - (payment.depot | float) }}
                                        {% else %}
                                        {{ payment.total_verse }}
                                        {% endif %}
                                   </span>
                                   {{ payment.devise }}
                              </p>
                         </div>

                         <div style="display:flex;position:relative;padding-top:4px">
                              <p style="display:inline-flex; margin-right:auto; margin:0px;">Montant A.</p>
                              <div style="position:absolute;top:0;right:0">
                                   <span>{{ payment.total_annuel }}</span> {{ payment.devise }}
                              </div>
                         </div>

                         <p style="border-bottom:1px solid #777;margin:4px"></p>

                         <div
                              style="display:flex;margin:0px;padding:0px;justify-content: space-between;align-items: center;">
                              <p style="display: inline-flex; margin-right:auto; margin:0px">Balance totale</p>
                              <p style="display: inline-flex;margin:0px;float:right">
                                   {% if (payment.total_verse | float) <= (payment.total_annuel | float) %} <span
                                        class="font-bold">
                                        {% if payment.status == 'retourné' %}
                                        {{ (payment.total_annuel | float) - ((payment.total_verse | float) -
                                        (payment.depot |
                                        float)) }}
                                        {% else %}
                                        {{ (payment.total_annuel | float) - (payment.total_verse | float) }}
                                        {% endif %}
                                        </span>
                                        {% else %}
                                        <span>0</span>
                                        {% endif %}
                                        {{ payment.devise }}
                              </p>
                         </div>
                    </div>

                    <div class="footer">
                         <p style="text-align: center;margin-top: 20px;">Merci pour votre confiance!</p>
                    </div>

          </div>
          {% endfor %}
     </div>
</body>

</html>